# PyCharm ve IDE Ayarları
.idea/
*.iml

# Sanal Ortamlar
.venv/
venv/
env/
uvenv/

# Çevre Değişkenleri ve Sırlar (ÇOK ÖNEMLİ)
.env
.env.local
.env.*

# Python Cache Dosyaları
__pycache__/
*.py[cod]
*$py.class

# Log Dosyaları
*.log

# Veritabanı Dosyaları
*.sqlite3

# Medya Dosyaları
media/

# Statik Dosyalar
static/

# Diğer Geçici Dosyalar
*.bak
*.tmp
*.swp
deneme/